@(title: String, request: Request[AnyContent])(content: Html)
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" data-bs-theme="light"> <!--<![endif]-->
@includes.header(title, request)
<body>
@includes.scripts()
<!-- @includes.forkme() -->
<div class="d-flex flex-column min-vh-100">
    <div class="bg-page"></div>
    @includes.browserhappy()
    @includes.navigation()
    <div class="flex-grow-1 position-relative">
        @content
    </div>
    @includes.footer()
</div>
</body>
</html>
