@import io.sdkman.model.Candidate
@(candidates: Seq[Candidate])(implicit request: Request[AnyContent])
@main(title = "Available SDKs", request) {
<div id='content' class='page-wrapper container'>
    <div class='row'>
        <div class="col d-none d-lg-block">
            <div class='nav-sidebar'>
                <ul id='nav-sidebar' class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href='#availablesdks'>Available SDKs</a></li>
                    @for(c <- candidates) {
                    <li class="nav-item"><a class="nav-link" href='#@{c.candidate}'>@{c.name}</a></li>
                    }
                </ul>
            </div>
        </div>

        <div class='col col-lg-9' data-bs-spy="scroll" data-bs-target="nav-sidebar" data-bs-smooth-scroll="true" data-bs-root-margin="-20% 0% -70%" tabindex="0">
            <h1 id="availablesdks"></a>SDK Installation Candidates</h1>
            @includes.advertisement()
            <ul class="list-none pl-0">
                @for(c <- candidates) {
                <li id='@c.candidate' class="scroll-offset">
                    <h4>@c.name (@c.default.getOrElse("Coming soon!"))</h4>
                    <a href='@c.websiteUrl' target='_blank'>@c.websiteUrl</a></br>
                    <p>@c.description</p>
                    <code>$ sdk install @c.candidate</code>
                    <hr class="my-5"/>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
}
